Package: com.cpdigitaldarkroom.swiper
Name: Swiper
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Swipe To Close Apps on iPhone X
Maintainer: CP Digital Darkroom <tweaks@cpdigitaldarkroom.support>
Author: CP Digital Darkroom <tweaks@cpdigitaldarkroom.support>
Section: Tweaks
