Package: com.cpdigitaldarkroom.swiper
Name: Swiper
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An Awesome Cydia Substrate Tweak!
Maintainer: CP Digital Darkroom <tweaks@cpdigitaldarkroom.support>
Author: CP Digital Darkroom <tweaks@cpdigitaldarkroom.support>
Section: Tweaks
